!-----------------------------------------------------------------------------
! Xft settings
!-----------------------------------------------------------------------------

Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight

!----------------------------------------------------------------------------
! urxvt
!----------------------------------------------------------------------------

! Transparent background:
URxvt.transparent: true
! URxvt.shading: 0 to 99 darkens, 101 to 200 lightens
URxvt.shading: 99


! Fonts:
URxvt.font: xft:Terminus:bold:pixelsize=14


!Clickable URLs:
URxvt.perl-ext-common:  default,matcher,url-select,vtwheel
!URxvt.tabbed.tabbar-fg: 2
!URxvt.tabbed.tabbar-bg: 0
!URxvt.tabbed.tab-fg:    3
!URxvt.tabbed.tab-bg:    0
!URxvt.matcher.button:   1
URxvt.keysym.M-u:    perl:url-select:select_next
URxvt.urlLauncher:   /usr/bin/firefox
URxvt.underlineURLs: true


! scrollbar style - rxvt (default), plain (most compact), next, or xterm
URxvt*scrollstyle:				plain
URxvt*scrollBar:          true
URxvt*scrollBar_right:    true
URxvt*transpscrollbar:    true
URxvt*scrollBar_floating: true
URxvt*saveLines:          1000000
URxvt*scrollTtyOutput:    false
URxvt*scrollWithBuffer:   true
URxvt*scrollTtyKeypress:  true
URxvt*geometry: 					84x24

! Cursor:
URxvt*cursorBlink: false
URxvt*cursorUnderline: false



! Default Colour Scheme:
URxvt.background: #000000
URxvt.foreground: #AAAAAA
! Black
URxvt.color0: 	#000000
URxvt.color8: 	#555555
! Red
URxvt.color1: 	#AA0000
URxvt.color9: 	#FF5555
! Green
URxvt.color2: 	#00AA00
URxvt.color10: 	#55FF55
! Yellow
URxvt.color3: 	#AA5500
URxvt.color11: 	#FFFF55
! Blue
URxvt.color4: 	#0000AA
URxvt.color12: 	#5555FF
! Magenta
URxvt.color5: 	#AA00AA
URxvt.color13: 	#FF55FF
! Cyan
URxvt.color6: 	#00AAAA
URxvt.color14: 	#55FFFF
! White
URxvt.color7: 	#AAAAAA
URxvt.color15: 	#FFFFFF


!----------------------------------------------------------------------------
! xterm
!----------------------------------------------------------------------------

xterm*geometry: 					80x25
xterm*faceName: xft:Terminus:bold:pixelsize=14:antialias=true
xterm*dynamicColors: 			true
xterm*utf8: 							2
xterm*eightBitInput: 			false
xterm*saveLines: 					512
xterm*scrollTtyKeypress: 	true
xterm*scrollTtyOutput: 		false
xterm*scrollBar: 					true
xterm*rightScrollBar: 		true
xterm*loginShell: 				true
xterm*jumpScroll: 				true
xterm*multiScroll: 				true
xterm*toolBar: 						false


! Default Colour Scheme:
xterm*background: #000000
xterm*foreground: #AAAAAA
!black
XTerm*color0:		#000000
XTerm*color8: 	#555555
!red
XTerm*color1: 	#AA0000
XTerm*color9: 	#FF5555
!green
XTerm*color2: 	#00AA00
XTerm*color10: 	#55FF55
!brown/yellow
XTerm*color3: 	#AA5500
XTerm*color11: 	#FFFF55
!blue
XTerm*color4: 	#0000AA
XTerm*color12: 	#5555FF
!magenta
XTerm*color5: 	#AA00AA
XTerm*color13: 	#FF55FF
!cyan
XTerm*color6: 	#00AAAA
XTerm*color14: 	#55FFFF
!white
XTerm*color7: 	#AAAAAA
XTerm*color15: 	#FFFFFF
